body{
  font-family: "Montserrat";
}

#title{
  background-color: #63686e;
  color: #fff;
}
.container-fluid{
  padding: 3% 15%;
}
h1{
  font-family:"Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family:"Montserrat";
  font-size: 2rem;
  line-height: 1.5;
}

/*Navigation Bar*/
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding:0 15px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.topic{
padding: 5rem 1.5rem 14rem 1.5rem;
}
.title-image{
  width: 2.5rem;
}
.mx-auto{
  padding-bottom: 0;
}
